@import "../../../index";

.exit-block {
  text-align: right;

  button {
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    color: $main-color;
    border: 1px solid $main-color;
    font-weight: 700;
    transition: background-color .2s linear;
  }

  button:hover {
    background-color: hsla(20, 33%, 85%, .7);
  }
}

.main-block {
  position: relative;
  display: flex;
  flex-direction: column;

  .main-block__content {
    margin-top: 1rem;
  }
}

.create-btn {
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  background-color: $dark-main-color;
  transition: background-color .2s linear;
}

.create-btn:hover {
  background-color: hsla(30, 50%, 51%, .7);
}

.form-item__close-btn,
.form-item__submit-btn {
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
}

.form-item__close-btn {
  background-color: transparent;
  color: $main-color;
  border: 1px solid $main-color;
  transition: background-color .2s linear;
}

.form-item__close-btn:hover {
  background-color: hsla(30, 33%, 85%, .7);
}

.form-item__submit-btn {
  background-color: $dark-main-color;
  color: $primary-light-text;
  transition: background-color .2s linear;
}

.form-item__submit-btn:hover {
  background-color: hsla(32, 50%, 51%, .7);
}

.form-item__submit-btn:disabled {
  background-color: $dark-main-color;
  opacity: .7;
  color: $primary-light-text;
}