@import "../../../../index";

.grid-content {
  padding-bottom: 1rem;
  overflow-x: auto;

  .grid-content__table {
    width: 100%;
    overflow: hidden;
  }

  .grid-content__head-column {
    border-bottom: 2px solid $main-color;
    padding: .5rem;
  }

  .grid-content__row {
    cursor: pointer;
    transition: background-color .2s linear;

    &:hover {
      background-color: hsl(0, 0%, 0%, .2);
    }
  }

  .grid-content__column {
    border-bottom: 1px solid $main-color;
    padding: .5rem;
    text-align: center;
  }
}