@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$main-color: hsl(30, 48%, 71%);
$dark-main-color: hsl(32, 33%, 38%);
$primary-light-color: hsl(34, 100%, 95%);
$primary-light-text: hsl(0, 1%, 92%);
$primary-dark-text: #52483b;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  color-scheme: light dark;
  color: $primary-dark-text;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $main-color;
  min-height: 100vh;

  a {
    font-weight: 500;
    color: $main-color;
    text-decoration: none;
  }

  a:hover {
    color: $dark-main-color;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  .btn-primary {
    background-color: $dark-main-color;
    color: $primary-light-text;
    font-family: inherit;
    font-size: 1.25rem;
    border-radius: .5rem;
    margin-top: 1.5rem;
    border: none;
    padding: .5rem 1.5rem;
  }

  .btn-primary:disabled {
    opacity: .6;
  }

  .full-width {
    width: 100%;
  }

  .error__text {
    text-align: center;
  }

  .error__reload {
    width: min-content;
    font-size: 3rem;
    margin: 0 auto;

    > svg {
      transition: transform .3s ease-in;
    }
    > svg:hover {
      transform: rotate(180deg);
    }
  }
}

header{
  padding: 25px 0;
  min-height: 10vh;

  .header-logo{
    display: block;
    margin: 0 1rem;
    max-width: 350px;
    width: 100%;
    cursor: pointer;
    transition: transform .2s linear;
    background-color: transparent;
  }

  .header-logo:hover {
    transform: scale(1.02);
  }

  @media (min-width: 720px) {
    .header-logo{
      margin: 0 auto;
    }
  }
}


